html,
body {
      overflow-x: hidden;
      height: 100vh;
      width: 100vw;
}

/* body {
      height: 100%;
} */

html {
      font-size: 62.5%;
     
}

body {
      display: grid;
      /* grid-template-rows: 1fr 2fr 1fr; */
      grid-template-areas:
            "header"
            "section"
            "footer";
      position: relative;
}

header {
      grid-area: header;

}

section {
      grid-area: section;

}

footer {
      grid-area: footer;
}








/* @media (max-width:485px){
      .editing-tools,
      .section {
            padding: 0.2rem;
      }
} */








@media (min-width: 1024px) {
      html {
            font-size: 52.5%;
      }
      
   
}

@media (min-width: 1440px) {
      html {
            font-size: 62.5%;
      }

   
}

@media (min-width: 2560px) { 

      /* html { font-size: 119.5%; }  */
     html{ 
      font-size: clamp(62.5%, calc((100vw - 2000px) / 32 + 62.5%), 119.5%);
     }
    }

@media (max-width: 1024px) {
      html{
            font-size: 48.5%;
      }
      .editing-tools> :nth-child(4) {
            display: none;
      }
}

@media (max-width: 888px) {

      /* .editing-tools > :nth-child(2), */
      .editing-tools> :nth-child(3),
      .editing-tools> :nth-child(4) {
            display: none;
      }

}

@media (max-width:365px){
      .editing-tools,
      .section {
            padding: 0;
      }
      .dropdown-style{
            top: 3rem
      }
}

@media (max-width:267px){
      .editing-tools> :nth-child(2) {
            display: none;
      }
      .editing-tools> :nth-child(1) {
           justify-content: center;
      }
      .editing-tools{
            padding: 1rem;
      }
}


